body {

    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;


}
/*******************************************************************************************************/
/* Nav bar */

.nav {

    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 30;

}

.topbar {
    width: 100%;
    height: auto;
}

.nav ul {

    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B4F72;
    z-index: 35;
    height: auto;

}

.sidebar > .nav-li {

    float: left;
    width: 150px;

}

.topbar > .nav-li {

    float: left;
    width: 150px;

}


.nav-li > a {

    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: 3px solid white;
    font-size: 18px;

}

.nav-li a.active {
    background-color: #0D2739;
    color: white;

}

.nav-li a:hover:not(.active) {
    background-color: #ddd;
    color: black;

}

#nav-pos-right {
    float: right;

}

.nav-li .menu {

    display: none;
}

.category-drop-list {
    display: none;
    width: 200px;
    background-color: transparent;

}

.category-drop-list {

    text-align: left;

}

.category-drop:hover .category-drop-list {

    display: block;
}

.about-drop-list {
    display: none;
    width: 150px;
    background-color: transparent;

}

.about-drop-list {

    text-align: left;

}

.nav-li:hover .nav-li:active .about-drop-list {

    display: block;
}

.nav ul .nav-li a:hover {


    border: 5px solid white;
    padding: 6px 14px;

}

#programming-items {
    background-color: rgba(223, 36, 36, 0.75);

}

#programming-items:hover {

    background-color: rgba(223, 36, 36, 1);
    color: white;


}

#programming-drop:hover {
    background-color: rgba(223, 36, 36, 1);

}

#web-projects-items {
    background-color: rgba(247, 143, 7, 0.75);

}

#web-projects-items:hover {
    background-color: rgba(247, 143, 7, 1);
    color: white;
}

#web-projects-drop:hover {
    background-color: rgba(247, 143, 7, 1);
}

#about-items {
    background-color: rgba(63, 136, 191, 0.75);

}

#about-items:hover {
    background-color: rgba(63, 136, 191, 1);
    color: white;
}

#about-drop:hover {
    background-color: rgba(63, 136, 191, 1);
}


#photography-items {

    background-color: rgba(32, 186, 52, 0.75);
}

#photography-items:hover {
    background-color: rgba(32, 186, 52, 1);
    color: white;
}

#photography-drop:hover {
    background-color: rgba(32, 186, 52, 1);
}

/*******************************************************************************************************/
/* Home Page */

.container {

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;


}

.imagecontainer {

    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.image {

    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn {

    position: fixed;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #3498DB;     
    cursor: pointer;
    border: 3px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 10;
    color: white;
    -webkit-animation-name: btn-expand; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: btn-expand;
    animation-duration: 4s;
    animation-iteration-count:infinite;

}

.btn-show-text {
    display:none;
    border-radius: 0%;
    background-color: #3498DB;
    border: 3px solid white;
    cursor: pointer;
    padding:10px;
    text-align: center;
    font-size: 25px;
}

.btn:hover .btn-show-text {
    display:block;
    transition-delay: 1s;
    border-radius: 0%;
}

.btn:hover {
    
    border-radius: 0%;
}

.photography-btn {

    position: fixed;
    cursor: pointer;
    margin-top: calc(-8% + 40px);
    margin-left: -15%;
    font-size: 2em;

}

 .photography-btn:hover {

    position: fixed;
    width: auto;
    height: auto;  

}

.about-btn {

    position: fixed;
    cursor: pointer;
    margin-top: calc(-22% + 40px);
    margin-left: -28%;
    font-size: 2em;

}

.about-btn:hover {


    position: fixed;
    width: auto;
    height: auto;
    
}

.web-projects-btn {

    position: fixed;
    cursor: pointer;
    margin-top: calc(-26% + 40px);
    margin-left: 0.6%;
    font-size: 2em;


}

.web-projects-btn:hover {

    position: fixed;
    width: auto;
    height: auto;

}



.programming-btn {

    position: fixed;
    cursor: pointer;
    margin-top: calc(-25% + 40px);
    margin-left: 29%;
    font-size: 2em;

}

.programming-btn:hover {

    position: fixed;
    width: auto;
    height: auto;

}

.info-text {

    position: sticky;
    margin-top: 3em;
    z-index: 20;
    width: 100%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #1B4F72;
    border: solid #3498DB 5px;
    
    margin-bottom: 2%;

}

.info-text h1 {

    font-size: 45px;

    color: white;

}

.info-text h2 {

    font-size: 35px;

    color: white;

}

.info-text p {
    
    color: white;
    font-size: 25px;
    
}

.grid-div {


    display: block;
    width: 100%;
    
    text-align: left;
}

.main-grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;

    z-index: 50;


}

.grid-item {

    position: relative;
    border: 5px solid rgba(63, 136, 191, 0.8);
    font-size: 16px;
    height: auto;
    z-index: 50;
    text-align: center;
    color: white;

}

.grid-footer {
     grid-column-start: 1;
    grid-column-end: 5;
    height: 5000px;
}

.about-stick {

    position: sticky;
    position: -webkit-sticky;
    top: 5em;
    width: 100%;
    height: 3em;
    
    z-index: 60;

}

.border {
    
    border: 5px white solid;
    
}

.item-grid {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.item-grid-footer {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
}

.item-grid .col {
    flex: 1;
    border: 5px black solid;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item-grid-footer .col {
    flex: 1;
    border: 5px black solid;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 500;
}

/*******************************************************************************************************/
/* Home animations */


@-webkit-keyframes btn-expand {
    0% {background-color: #3498DB; border: 3px solid white;}
    50% {background-color: white; border: 3px solid #3498DB;}
    100% {background-color: #3498DB; border: 3px solid white;}
}

@keyframes btn-expand {
    0% {background-color: #3498DB; border: 3px solid white;}
    50% {background-color: white; border: 3px solid #3498DB;}
    100% {background-color: #3498DB; border: 3px solid white;}
}

/*******************************************************************************************************/
/* Home Media Queries */

@media only screen and (max-width: 2000px) {

     .main-grid {
         
        grid-template-columns: 1fr 1fr;
         
    }
    
    .grid-footer {
    grid-column-start: 1;
    grid-column-end: 3;
    
    }
    
}

@media only screen and (max-width: 1400px) {

    .nav-li .menu {

        display: block;
        list-style-type: none;
        margin: 0;
        width: auto;
        background-color: #1B4F72;
        height: auto; /* Full height */
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
    }

    #nav-pos-right {
        float: right;
    }

    .sidebar {

        display: none;
    }
    
    .sidebar > .nav-li {

    float: left;
    width: 300px;

    }

    .topbar > .nav-li {

        float: left;
        width: 300px;

    }
    
    .nav-li > a {

    
    font-size: 30px;

    }

    .topbar .nav-li:hover .sidebar {

        display: block;
        width: 300px;
    }

    
    .category-drop:hover .category-drop-list {
       
        
        display: inline-block;
        left: 300px;
        margin-top: -43px;
        
    }
    
    .btn-show-text {
    
    font-size: 18px;
    }
    
    
    .info-text {

    
    width: 100%;
        
    } 
    
    .info-text h1 {

        font-size: 30px;

        color: white;

    }

    .info-text h2 {

        font-size: 20px;

        color: white;

    }
    
    .main-grid {
         
        grid-template-columns: 1fr;
         
    }
    
    .grid-item {
        text-align: left;
    }
    
    .grid-footer {
        
        grid-column-start: 1;
        grid-column-end: 2;
    
    }
    
}

/*******************************************************************************************************/
/* Photography flex box */

.travel-container {
    position: relative;
    padding-top: 43px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0px 5px;


}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0px 5px;
  
}

.column img {
  
    vertical-align: middle;
    width: 100%;
    margin-top: 10px
}

.outline-border {
    
    border: 2px solid grey;
}


/*******************************************************************************************************/
/* Photography Media Queries */

@media screen and (max-width: 1200px) {

    .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    
    }

}

@media screen and (max-width: 900px) {

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    
    }

}


/*******************************************************************************************************/
/* Photography Media Queries */

.form-container {
    
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 136, 191, 1);
    justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
    
}

.form-box {
    
    display: block;
    width: 60%;
    height: 60%;
    background-color: white;
    
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 3px solid rgba(63, 136, 191, 1);
    border-radius: 0px 50px 50px 0px;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.line {
    border: 3px solid rgba(63, 136, 191, 1);
    border-radius: 50px;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}






